<div class="container">
<%= form_for @user do |f| %>
  <%= render 'form', :f => f %>
  <% if current_user.arts_worker? %>
    <%= f.label :profession, "Profession" %>
    <%= f.text_field :profession %>
  <% end %>
  <%= f.label :avatar, "Avatar" %>
  <%= f.text_field :avatar %>
  <%= f.button %>
<% end %>
</div>