<div class="user-profile">
  <div class="profile-image">
    <% if @user.avatar_url %>
      <%= image_tag @user.avatar_url, :class => 'profile-picture' %>
    <% else %>
      <%= image_tag @user.gravatar, :class => 'profile-picture' %>
    <% end %>
  </div>
  <div class="name">
    <h1><%= @user.full_name %></h1>
    <% if @user.arts_worker? %>
      <p class="profession"><%= @user.profession %></p>
    <% end %>
    <p class="description"><%= @user.description %></p>
  </div>
  <% if current_user && !user_profile %>
    <div class="social-links">
      <% if @user.arts_worker? %>
        <% if !following?(@user) %>
          <%= link_to "Follow #{@user.full_name}", followings_path(id: @user.id), :class => 'btn-follow' %>
        <% else %>
          <p>You are following <%= @user.full_name %></p>
        <% end %>
      <% end %>
      <% if !friends?(@user) %>
        <%= link_to "Add #{@user.full_name} as friend", friendships_path(id: @user.id), :class => 'btn-friend' %>
      <% end %>
    </div>
  <% end %>

  <% if @user.arts_worker? %>

    <div class="user-events">
      <h2>Current Events</h2>
      <%= render @event_members %>
    </div>

    <div class="user-videos">
      <%= render 'videos/video' %>
    </div>
  <% end %>

      <% if current_user && user_profile && current_user.arts_worker? %>
        <div class="user-links">
          <%= link_to "Add Video", '#', 'data-link' => 'add-video', :class => 'btn-add-video' %>
        </div>


      <div id="add-video" class="add-video">
        <h2>Add Video</h2>
        <div class="container">
          <%= form_for @video, :remote => true do |f| %>
            <%= f.label :url, "Youtube Video Link" %>
            <%= f.text_field :url %>
            <%= f.button %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

</div>