<div class="user-profile">
  <div class="col-left">
    <div class="profile-image">
      <%= render 'profile_image' %>
    </div>
    <% if current_user && user_profile %>
        <%= link_to "Change Avatar", '#', 'data-link' => 'add-avatar', :class => 'btn-add' %>
        <div id="add-avatar" class="add-asset">
          <h2>Change Avatar</h2>
          <div class="container">
            <%= form_for @user, :remote => true do |f| %>
              <%= f.label :avatar, "Avatar Upload" %>
              <%= f.file_field :avatar %>
              <%= f.hidden_field :avatar_cache %>
              <%= f.button %>
            <% end %>
          </div>
        </div>
      <% end %>
    <h1><%= @user.full_name %></h1>
    <% if current_user && !user_profile %>
    <div class="social-links">
      <% if @user.arts_worker? %>
        <% if !following?(@user) %>
          <%= link_to "Follow", followings_path(id: @user.id), :class => 'btn-follow' %>
        <% else %>
          <p>You are following <%= @user.full_name %></p>
        <% end %>
      <% end %>
      <% if !friends?(@user) %>
        <%= link_to "Friend", friendships_path(id: @user.id), :class => 'btn-friend' %>
      <% end %>
    </div>
  <% end %>
    <% if @user.arts_worker? %>
      <p class="profession"><%= @user.profession %></p>
    <% end %>
    <p class="description"><%= @user.description %></p>
  </div>

  <div class="col-right">
    <% if @user.arts_worker? %>

      <div class="user-events">
        <%= render @event_members %>
      </div>

      <div class="user-videos">
        <%= render 'videos/video' %>
      </div>
      <% if user_profile %>
        <%= link_to "Add Video", '#', 'data-link' => 'add-video', :class => 'btn-add' %>
        <div id="add-video" class="add-asset">
        <h2>Add Video</h2>
        <div class="container">
          <%= form_for @video, :remote => true do |f| %>
            <%= f.label :url, "Youtube Video Link" %>
            <%= f.text_field :url %>
            <%= f.button %>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="user-images">
        <%= render 'images/image' %>
      </div>
      <% if user_profile %>
        <%= link_to "Add Image", '#', 'data-link' => 'add-image', :class => 'btn-add' %>
        <div id="add-image" class="add-asset">
          <h2>Add Image</h2>
          <div class="container">
            <%= form_for @image, :remote => true do |f| %>
              <%= f.label :name, "Image Upload" %>
              <%= f.file_field :image %>
              <%= f.hidden_field :image_cache %>
              <%= f.button %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>