<div class="user-profile">
  <%= image_tag @user.gravatar %>
  <% if current_user && user_profile %>
    <div class="user-info" id="edit-profile" data-user=<%= current_user.id %>>
  <% else %>
    <div class="user-info">
  <% end %>
    <h1><%= @user.full_name %></h1>
    <p class="description"><%= @user.description %></p>
    <% if @user.arts_worker? %>
      <p class="profession"><%= @user.profession %></p>
      <div class="user-events">
        <h2>Current Events</h2>
        <%= render @event_members %>
      </div>

      <div class="user-videos">
          <%= render 'videos/video' %>
      </div>
    <% end %>
  </div>


  <% if current_user && !user_profile %>
    <div class="social-links">
      <% if @user.arts_worker? %>
        <% if !following?(@user) %>
          <%= link_to "Follow #{@user.full_name}", followings_path(id: @user.id), :class => 'btn-follow' %>
        <% else %>
          <p>You are following <%= @user.full_name %></p>
        <% end %>
      <% end %>
      <% if !friends?(@user) %>
        <%= link_to "Add #{@user.full_name} as friend", friendships_path(id: @user.id), :class => 'btn-friend' %>
      <% end %>
    </div>
  <% end %>

  <% if user_profile %>

    <div class="user-links">
      <%= link_to "Friend Requests", requests_path, :class => 'btn-user btn-user-social' %>
      <%= link_to "Friends", friendships_path, :class => 'btn-user btn-user-social' %>
      <%= link_to "Tickets", tickets_path, :class => 'btn-user btn-user-social' %>
      <%= link_to "Following", followings_path, :class => 'btn-user btn-user-social' %>
      <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn-user' %>
      <% if current_user.arts_worker? %>
        <%= link_to "Followers", followers_path, :class => 'btn-user btn-user-social' %>
        <%= link_to "Create Event", new_event_path, :class => 'btn-user' %>
        <%= link_to "Create Venue", new_venue_path, :class => 'btn-user' %>
        <%= link_to "Add Video", '#', 'data-link' => 'add-video', :class => 'add-video' %>
      <% end %>
    </div>

    <div id="add-video" class="container-lrg">
      <h2>Add Video</h2>
      <div class="container">
        <%= form_for @video, :remote => true do |f| %>
          <%= f.label :url, "Youtube Video Link" %>
          <%= f.text_field :url %>
          <%= f.button %>
        <% end %>
       </div>
     </div>

  <% end %>

</div>