<%= form_for @event do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Description of event" %>
  <%= f.text_area :description %>
  <%= f.label :price_for_general, "Price for General Tickets" %>
  <%= f.number_field :price_for_general %>
  <%= f.label :start_date, "Event Start" %>
  <%= f.date_field :start_date %>
  <%= f.label :end_date, "Event End" %>
  <%= f.date_field :end_date %>
  <%= f.label :venue_id, "Venue" %>
  <%= f.collection_select(:venue_id, @venues, :id, :name) %>
  <div id="event_members">
    <%= f.fields_for :event_members do |event_members| %>
      <%= render 'event_member_fields', :f => event_members %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Member', f, :event_members %>
    </div>
  </div>
  <div id="shows">
    <%= f.fields_for :shows do |show| %>
      <%= render 'show_fields', :f => show %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add show', f, :shows %>
    </div>
  </div>
  <%= f.button %>
<% end %>