<div class="nested-fields">
  <%= f.label :date, "Day" %>
  <%= f.date_field :date %>
  <%= f.label :time, "Time" %>
  <%= f.time_field :time %>
  <%= link_to_remove_association "Remove Show", f %>
</div>