<div class="event">
  <div class="col-left">
    <div class="event-image">
      <%= image_tag @event.image %>
    </div>
    <div class="event-info">
      <h1><%= @event.name %></h1>
      <p><%= @event.description %></p>
      <%= link_to @event.venue.name, venue_path(@event.venue) %>
      <p>Starts: <%= @event.start_date.strftime("%b %d, %Y") %></p>
      <p>Ends: <%= @event.end_date.strftime("%b %d, %Y") %></p>
      <p>General Tickets: $<%= @event.price_for_general %></p>
    </div>
  </div>
  <div class="col-right">
    <div class="featuring">
      <%= render 'event_members/member' %>
    </div>
    <% if current_user && owner?(@event) %>
      <%= link_to "Add Member", '#', 'data-link' => 'add-member', :class => 'btn-add' %>
      <div id="add-member" class="add-asset">
        <h2>Add Member</h2>
        <div class="container">
          <%= form_for [@event, @event_member], :remote => true do |f| %>
            <%= f.label :user_id, "Member" %>
            <%= f.collection_select(:user_id, @users, :id, :full_name) %>
            <%= f.label :role, "Role" %>
            <%= f.text_field :role %>
            <%= f.label :admin, "Admin" %>
            <%= f.check_box :admin %>
            <%= f.button %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="shows">
      <h2>Shows</h2>
      <ul>
        <% @event.shows.each do |show| %>
          <li><%= link_to "#{show.date.strftime('%b %d, %Y')} @ #{show.time.strftime('%I:%M:%S %p')}", show_path(show), :class => 'btn-user-social' %></li>
        <% end %>
      </ul>
    </div>
  </div>

    <% if current_user && owner?(@event) %>
      <div class="links">
        <%= link_to "Edit Event", edit_event_path(@event) %>
        <%= link_to "Delete Event", event_path(@event), :method => :delete %>
      </div>
    <% end %>

</div>