<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<p>Starts: <%= @event.start_date.strftime("%b %d, %Y") %></p>
<p>Ends: <%= @event.end_date.strftime("%b %d, %Y") %></p>
<p>General Tickets: $<%= @event.price_for_general %></p>
<p><%= @event.venue.name %></p>
<ul>
  <% @shows.each do |show| %>
    <li><%= show.date.strftime('%b %d, %Y') %> <%= show.time.strftime('%I:%M:%S %p') %></li>
    <%= form_for @ticket do |f| %>
      <%= f.hidden_field :show_id, :value => show.id %>
      <%= f.label :num_of_general, "Tickets" %>
      <%= f.number_field :num_of_general %>
      <%= f.button "Buy Tickets" %>
    <% end %>
  <% end %>
</ul>

<% if owner?(@event) %>
  <%= link_to "Edit Event", edit_event_path(@event) %>
  <%= link_to "Delete Event", event_path(@event), :method => :delete %>
<% end %>
