<div class="container-lrg">
  <h2><%= @show.event.name %> <%= @show.date.strftime('%b %d, %Y') %> @ <%= @show.time.strftime('%I:%M:%S %p') %></h2>
  <div class="container">
  <% if current_user %>
    <%= form_for @ticket, :remote => true do |f| %>
      <%= f.hidden_field :show_id, :value => @show.id %>
      <%= f.label :num_of_general, "Tickets" %>
      <%= f.number_field :num_of_general %>
      <%= f.button "Buy Tickets" %>
    <% end %>

    <div class="friends-attending">
      <h2>Friends Attending</h2>
      <% @show.tickets.each do |ticket| %>
        <% if current_user.friends.include?(ticket.user) %>
          <%= ticket.user.full_name %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>Please <%= link_to "login", :login %> or <%= link_to "register", new_user_path %> to buy tickets</p>
  <% end %>
  </div>
  <p class="show-close">Close</p>
</div>