<h2 class="'show-name"><%= @show.event.name %></h2>
<div class="show-date"><%= @show.date.strftime('%b %d, %Y') %> @ <%= @show.time.strftime('%I:%M:%S %p') %></div>
<div>
<% if current_user %>
  <%= form_for @ticket, :remote => true do |f| %>
    <%= f.hidden_field :show_id, :value => @show.id %>
    <%= f.label :num_of_general, "Tickets" %>
    <%= f.number_field :num_of_general %>
    <%= f.button "Buy Tickets" %>
  <% end %>

  <div class="friends-attending">
    <h2>Friends Attending</h2>
    <% @show.tickets.each do |ticket| %>
      <div class="show-friend">
        <% if current_user.friends.include?(ticket.user) %>
          <% if ticket.user.avatar_url %>
            <%= image_tag "#{ticket.user.avatar_url(:thumb)}", :class => 'header-user-gravatar' %>
          <% else %>
            <%= image_tag "#{ticket.user.gravatar}", :class => 'header-user-gravatar' %>
          <% end %>
          <%= link_to ticket.user.full_name, user_path(ticket.user) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Please <%= link_to "login", :login %> or <%= link_to "register", new_user_path %> to buy tickets</p>
<% end %>
</div>
<%= link_to "Close", "#", :class => 'show-close' %>