<div class="container">
  <h1>Sign in</h1>

  <%= form_tag user_sessions_path do %>
    <%= label_tag :email, "Email" %>
    <%= email_field_tag :email %>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <%= button_tag "Login" %>
  <% end %>
</div>