<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arsunita</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "ArsUnita", root_path, :class => 'logo' %>
    <%= form_tag search_path, :method => :get, :id => 'search-form', :class => 'search-form' do %>
      <%= search_field_tag :search, params[:search], :placeholder => 'Search...' %>
    <% end %>
    <% if current_user %>
      <div id="sidebar-menu" class="sidebar-menu">
        <% if current_user.avatar_url %>
          <%= image_tag "#{current_user.avatar_url(:thumb)}", :class => 'header-user-gravatar' %>
        <% else %>
          <%= image_tag "#{current_user.gravatar}", :class => 'header-user-gravatar' %>
        <% end %>
        <span class="header-user-name"><%= current_user.full_name %></span>
      </div>
    <% else %>
      <%= link_to "☰", "#", :id => 'menu', :class => 'menu' %>
    <% end %>
    <div class="header-links">
      <ul>
        <li><%= link_to "Register", new_user_path %></li>
        <li><%= link_to "Login", :login %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Venues", venues_path %></li>
        <li><%= link_to "Events", events_path %></li>
      </ul>
    </div>
  </header>
  <div id="search-results"></div>
  <% if flash[:notice] %>
    <div class="flash notice">
      <p><%= flash[:notice] %></p>
    </div>

  <% elsif flash[:alert] %>
    <div class="flash alert">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>
  <main>
    <% if current_user %>
      <section id="sidebar" class="sidebar">
        <div class="sidebar-image">
          <% if current_user.avatar_url %>
            <%= link_to image_tag(current_user.avatar_url), user_path(current_user) %>
          <% else %>
            <%= link_to image_tag(current_user.gravatar), user_path(current_user) %>
          <% end %>
        </div>
        <%= link_to "Friend Requests", requests_path, :class => 'btn-user btn-user-social' %>
        <%= link_to "Friends", friendships_path, :class => 'btn-user btn-user-social' %>
        <%= link_to "Tickets", tickets_path, :class => 'btn-user btn-user-social' %>
        <%= link_to "Following", followings_path, :class => 'btn-user btn-user-social' %>
        <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn-user' %>
        <% if current_user.arts_worker? %>
          <%= link_to "Followers", followers_path, :class => 'btn-user btn-user-social' %>
          <%= link_to "Create Event", new_event_path, :class => 'btn-user' %>
          <%= link_to "Create Venue", new_venue_path, :class => 'btn-user' %>
        <% end %>
        <%= link_to "Users", users_path %>
        <%= link_to "Venues", venues_path %>
        <%= link_to "Events", events_path %>
        <%= link_to "Logout", :logout, :method => :post %>
      </section>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>